* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	/* 1rem = 10px */
}

body {
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6rem;
	background: linear-gradient(0deg, rgba(125, 213, 170, 1) 0%, rgba(180, 240, 156, 1) 100%);
	min-height: 100vh;
}

#root {
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

a,
a:link,
a:visited {
	color: #3ABCA0;
	text-decoration: none;
	font-weight: 600;
}

a:hover,
a:active {
	text-decoration: underline;
}

#cup-select {
	padding: 2rem;
	border-bottom: 1px solid black;
	background-color: #1c8696;
	display: flex;
	gap: 4rem;
}

#cup-select>div {
	flex-grow: 1;
}

#cup-wrapper,
.page {
	display: flex;
	flex-grow: 1;
	margin-top: 3.9rem;
	height: calc(100vh - 4rem);
}

.page {
	height: calc(100% - 4rem);
	margin: 3.6rem auto;
	width: 90%;
	max-width: 70rem;
}

.page-heading {
	font-size: 2.4rem;
	margin: 3rem auto;
}

.page-block {
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 0 3px 2px rgba(51, 51, 51, 0.3);
	margin-bottom: 3rem;
	padding: 3rem;
}

#teams-wrapper {
	flex-grow: 0;
	flex-shrink: 0;
	overflow: auto;
	width: 33rem;
}

#team-holder {
	min-width: 33rem;
	box-sizing: border-box;
}

#team-holder .teams-wrapper {
	background-color: #fff;
	border-radius: .5rem;
	padding: 1rem 1rem 1.5rem 1rem;
	margin: 1rem;
	box-shadow: 0 0 3px 2px rgba(51, 51, 51, 0.3);
}

#cup-data {
	width: 100%;
	padding: 1rem 1.5rem;
	background: #fff;
	box-shadow: -5px 0px 13px -7px #1c8696, 5px 0px 13px -7px #1c8696, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	box-sizing: border-box;
	overflow-y: scroll;
}

.section-head {
	background: #d9edf0;
	border-radius: .7rem 3rem 3rem .7rem;
	margin-bottom: 1rem;
}

.section-head h1 {
	font-size: 1.6rem;
	margin: 1.4rem 2rem;
	opacity: 1;
}

.section-head button.app-like {
	background-color: #96d6df;
	border-color: #80b9c1;
}

.section-head button.app-like:hover {
	background-color: #7fd3df;
}

#cup-heading {
	background: #003e65;
	border-radius: .7rem 3rem 3rem .7rem;
	color: #fff;
	padding-right: .5rem;
	margin-bottom: 1rem;
}

#cup-heading h1 {
	font-size: 2rem;
	margin: 1rem;
	color: #fff;
	opacity: 1;
}

.cup-league {
	display: flex;
	border-radius: .5rem 0 0 .5rem;
	margin-right: 1rem;
	padding: 0 1rem;
	font-size: 2rem;
	font-weight: 600;
}

.cup-league div {
	margin: auto;
}

.cup-league.ul {
	color: #000;
	background: #AE751D;
	background: linear-gradient(0deg, rgba(174, 117, 29, 1) 0%, rgba(246, 236, 109, 1) 100%);
}

.cup-league.gl {
	color: #fff;
	background: #2C43B0;
	background: linear-gradient(0deg, rgba(44, 67, 176, 1) 0%, rgba(79, 136, 242, 1) 100%);
}

.cup-league.ml {
	color: #f475c4;
	background: #39197E;
	background: linear-gradient(0deg, rgba(57, 25, 126, 1) 0%, rgba(122, 65, 184, 1) 100%);
}

.cup-league.lt {
	color: #fff;
	background: #B43C32;
	background: linear-gradient(0deg, rgba(180, 60, 50, 1) 0%, rgba(237, 83, 58, 1) 100%);
}

#eligibility-label {
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	color: #8eb1b7;
}

#eligibility-desc {
	padding: .5rem 1rem;
	border-radius: .5rem;
	margin-bottom: 1rem;
	background: #d9edf0;
	font-size: 1.4rem;
	text-align: center;
}

.allowed-types {
	display: flex;
}

.allowed-types span {
	margin: .3rem;
}

.allowed-types span:first-child {
	margin-left: auto;
}

.allowed-types span:last-child {
	margin-right: auto;
}

.app-button-group {
	display: flex;
}

.app-button-group button.app-like {
	margin: auto;
	margin-right: 1px;
	border-radius: 0;
}

.app-button-group button.app-like:first-child {
	border-radius: 3.2rem 0 0 3.2rem;
}

.app-button-group button.app-like:last-child {
	border-radius: 0 3.2rem 3.2rem 0;
	margin-right: .5rem;
}

/**/

h1,
h2,
h3 {
	text-transform: uppercase;
	font-weight: normal;
	color: #000;
	opacity: .7;
}

h1,
h2,
h3,
p {
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.6rem;
}

p:last-child {
	margin-bottom: 0;
}

input[type="text"],
input[type="number"],
select {
	color: hsl(0, 0%, 20%);
	font-size: inherit;
	border-color: hsl(0, 0%, 80%);
	border-radius: .4rem;
	border-style: solid;
	border-width: 1px;
	padding: 1rem;
	width: auto;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
}

input[type="text"][disabled],
input[type="number"][disabled],
select[disabled],
.disabled {
	opacity: 50%;
}

input.invalidField,
div.invalidField {
	background-color: #fffbe5;
}

select,
option {
	text-align: right;
}

button {
	cursor: pointer;
}

input:where([type="checkbox"][role="switch"]) {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	color: inherit;
	font-size: inherit;
	width: 6rem;
	height: 3rem;
	box-sizing: content-box;
	border-radius: 1em;
	vertical-align: text-bottom;
	margin: auto;
	background: #e5e5e5;
	box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

input:where([type="checkbox"][role="switch"])::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	transition: all 200ms ease-out;
	box-sizing: border-box;
	width: 2.4rem;
	height: 2.4rem;
	margin: 0 0.15em;
	border-radius: 50%;
	background: linear-gradient(white, #f2f2f2);
}

input:where([type="checkbox"][role="switch"]):checked::before {
	left: 3.2rem;
}

input:where([type="checkbox"][role="switch"]):checked {
	background: #7dd5aa;
}

a.app-like,
a.app-like:link,
a.app-like:visited,
button.app-like {
	background-color: #7dd5aa;
	border: 0.1rem solid #7dd5aa;
	border-radius: 3.2rem;
	color: #fff;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: .1rem;
	line-height: 3.6rem;
	padding: 0 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	transition: all 0.1s ease-out;
}

button[disabled].app-like {
	background-color: #fff;
	border-color: #ccc;
	color: #ccc;
}


a.app-like:hover,
a.app-like:active,
button.app-like:hover {
	background-color: #97e6bf;
}

button[disabled].app-like:hover {
	background-color: #fff;
	pointer-events: none;
}

button.app-like:active {
	background-color: #5cb78a;
	animation: .1s ButtonClick;
}

button[disabled].app-like:active {
	background-color: #fff;
	animation: none;
	cursor: default;
}

button.plain {
	background: none;
	border: none;
	display: inline-block;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

button.plain.active {
	background: #fff;
	color: #1c8696;
	border-radius: .4rem;
}

button.filled {
	background: #7dd5aa;
	color: #fff;
	border: 1px solid #7dd5aa;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	padding: .3rem 1rem;
	line-height: 2rem;
}

button.filled.warning {
	background: #930000;
	border-color: #930000;
}

button.outlined {
	background: none;
	color: #1c8696;
	border: 1px solid #1c8696;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	padding: .3rem 1rem;
	line-height: 2rem;
}

button.outlined.with-svg,
button.filled.with-svg {
	padding: .2rem 1rem .2rem .4rem;
}

button svg {
	vertical-align: middle;
	position: relative;
	top: -1px;
}

@keyframes ButtonClick {
	50% {
		transform: scale(1.2);
	}
}

hr {
	margin: 2rem 1rem;
	border: 1px solid hsl(0, 0%, 85%);
	border-width: 1px 0 0 0;
}

textarea {
	width: 100%;
	height: 20rem;
	box-sizing: border-box;
	font-size: inherit;
	font-family: inherit;
	padding: 1rem;
}

textarea[disabled] {
	background-color: #f0f8ff;
}

.flex-row,
.flex-col {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row>* {
	flex: 1 1 0;
	margin-right: 1rem;
}

.flex-row>*:last-child {
	margin-right: 0 !important;
}

.flex-container {
	display: flex;
	gap: 1rem;
}

.text-small {
	font-size: 1.2rem;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

label {
	display: block;
	margin-bottom: .5rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	color: #868686;
}

label.checkbox {
	background: #fff;
	padding: 1rem;
	border-radius: .5rem;
	border-color: hsl(0, 0%, 80%);
	border-width: 1px;
	border-style: solid;
	margin-bottom: 0;
}

label.checkbox input {
	margin-right: .5rem;
}

label.checkbox span {
	position: relative;
	top: -0.2rem;
}

label:has(input[type="checkbox"]:disabled) {
	opacity: .5;
}

.team-placeholder {
	color: #ececec;
	background-color: #f0f8ff;
	min-height: 30rem;
	border: solid .2rem #d9edf0;
	border-radius: .5rem;
	padding: 1rem 1rem 0 1rem;
}

.team-placeholder.editable {
	background-color: #fff;
	cursor: pointer;
	display: flex;
}

.team-placeholder.editable:hover {
	background-color: #f3feff !important;
	color: #b3b3b3 !important;
}

.cup-team-box {
	background-color: #d9edf0;
	border-radius: .8rem;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	cursor: pointer;
	border: 1px solid transparent;
	max-width: 25rem;
}

.cup-team-box.current {
	background-color: #b0e8f0;
	border-color: #1c8696;
}

.cup-team-box.current.fave-team {
	background-color: #ffe59e;
	border-color: #dfa812;
}

#team-editor .cup-team-box {
	max-width: 100%;
	padding: 1.4rem;
}

#team-editor .cup-team-mon {
	min-height: 8rem;
	min-width: 8rem;
}

#team-editor .cup-team-mon .pokemon-sprite {
	max-height: 8rem;
}

.cup-team-mon {
	display: inline-block;
	background-color: #fff;
	border-radius: .5rem;
	box-shadow: 0 0 3px 2px rgba(107, 160, 187, 1);
	padding: .5rem 1rem;
	min-width: 5rem;
	min-height: 5rem;
	max-width: 30%;
	box-sizing: border-box;
	display: flex;
	flex: 1 1 auto;
	border: 2px solid #fff;
}

.cup-team-mon.isSelected {
	border-color: #ff8484;
}

.pokemon_type {
	border-radius: .3rem;
	margin-bottom: .2rem;
}

.pokemon_option {
	background-image: none;
	position: relative;
}

.pokemon_option .type-list {
	position: absolute;
	right: 1rem;
	top: .5rem;
	background: rgba(255, 255, 255, .75);
	padding: .2rem .3rem;
	border-radius: 2rem;
}

.template-box .pokemon_option:hover {
	box-shadow: 0 0 3px 2px rgba(255, 255, 255, 1);
}

.move_type {
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: left center;
	display: inline-block;
}

.move_label {
	font-size: 1rem;
	background: #ececec;
	padding: .4rem 1rem;
	text-transform: uppercase;
	border-radius: .4rem;
	margin-bottom: 1rem;
}

.move_name {
	padding-left: 3rem;
	line-height: 2.6rem;
	background-color: transparent;
}

.move_count {
	background-color: #00000010;
	padding: .2rem .5rem;
	font-size: 1.3rem;
	width: 2rem;
	text-align: center;
	line-height: 1.8rem;
}

.move_count.charge {
	border-radius: 3rem;
}

.white-btn {
	flex-grow: 1;
	background: #fff;
	text-transform: uppercase;
	border: none;
	border-radius: .3rem;
	padding: 0 1rem;
	color: #b3b3b3;
}

.white-btn:hover {
	background: #7dd5aa;
	color: #fff;
}

.type_icon {
	height: 24px;
	width: 24px;
	background-size: 24px;
	background-color: transparent;
	display: block;
}

.pokemon-type-box {
	border-style: solid;
	border-width: .2rem;
	border-radius: .5rem;
	background: none;
	padding: 1rem 1rem 0 1rem;
	display: flex;
	flex-direction: column;
}

.pokemon-type-box-heading {
	margin: -1rem -1rem 1rem -1rem;
	padding: 1rem 2rem;
	background-image: none;
	font-weight: 600;
}

.pokemon-type-box-heading.edit-heading {
	margin: 0 0 2rem 0;
	border-radius: .5rem;
}

.pokemon-type-box-body {
	flex-grow: 1;
}

.notice-box {
	border: 1px solid #83EADC;
	padding: 1rem;
	border-radius: .5rem;
	color: #1c8696;
	text-transform: uppercase;
	font-size: 1.4rem;
	text-align: center;
}

.grid-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 1rem;
}

.team-mons.with-images {
	grid-template-columns: repeat(3, minmax(22rem, 1fr));
}

.without-images {
	grid-template-columns: none;
}

.without-images .moves {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 1rem;
}

.without-images .charge-moves {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, minmax(22rem, 1fr));
}

.without-images .pokemon-view {
	display: flex;
	gap: 1rem;
}

.opponent-mons.without-images .pokemon-view>div:first-child {
	flex-grow: 1;
}

.without-images .pokemon-type-box-heading {
	display: grid;
	grid-template-columns: 1fr 10rem 12rem 6.5rem;
}

.cup-team-box.without-images .pokemon-type-box-heading {
	grid-template-columns: 1fr 6.5rem;
	padding: .5rem 1rem;
	margin: 0;
}

.cup-team-box.without-images .pokemon-type-box-heading:first-child {
	border-radius: .5rem .5rem 0 0;
}

.cup-team-box.without-images .pokemon-type-box-heading:last-child {
	border-radius: 0 0 .5rem .5rem;
}

.cup-team-box.without-images .pokemon-type-box-heading h3 {
	font-size: 1.4rem;
}

.cup-team-box.without-images {
	flex-direction: column;
	gap: .2rem;
}

.opponent-mons.without-images .pokemon-type-box-heading {
	grid-template-columns: 1fr 6.5rem;
}

.without-images .pokemon-type-box-heading h3 {
	margin: auto auto auto 0;
}

.without-images .stats {
	background: rgba(255, 255, 255, .75);
	border-radius: .5rem;
	padding: .3rem .5rem;
	flex-grow: 0;
	white-space: nowrap;
	margin: auto 1rem auto auto;
	font-weight: normal;
}

.remove-opponent {
	font-size: 1rem;
	text-transform: uppercase;
	text-align: right;
}

.pokemon-type-box-heading {
	padding: 1rem .5rem 1rem 1rem;
}

.pokemon-type-box-heading h3 {
	margin: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pokemon-type-box-heading .type-list {
	justify-content: right;
	flex-grow: 0;
	background: rgba(255, 255, 255, .75);
	padding: .2rem .3rem;
	border-radius: 2rem;
	margin: auto 0 auto auto;
}

.iv-list div,
.iv-list span {
	position: relative;
	padding: 0 .6rem;
	width: 2rem;
	text-align: center;
	display: inline-block;
}

.iv-list span {
	position: absolute;
	top: -1.5rem;
	left: 0rem;
	font-size: 1rem;
	text-transform: uppercase;
}

.type-list {
	display: flex;
	justify-content: center;
}

.type-list span {
	margin-right: .3rem;
}

.type-list span:last-child {
	margin-right: 0;
}

.cup-section {
	border-radius: .5rem;
	border: #d9edf0 1px solid;
	margin-bottom: 2rem;
}

.cup-section .cup-section-head {
	background: #d9edf0;
	color: #333;
	padding: 1rem 2rem;
	border-radius: .5rem .5rem 0 0;
	display: flex;
}

.cup-section .cup-section-head h2 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 4rem;
}

.cup-section.fave-team {
	border: #ffe59e 1px solid;
}

.cup-team-box.fave-team {
	background-color: #fff2cf;
}

.cup-section.fave-team .cup-section-head {
	background: #ffe59e;
}

.cup-section.fave-team .cup-section-head button {
	color: #f4b814;
}

.cup-team-box.fave-team .cup-team-mon {
	box-shadow: 0 0 3px 2px #f4b814;
}

.cup-section .cup-section-body {
	padding: 1rem;
}

.flex {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
}

.flex-v-center {
	margin-top: auto;
	margin-bottom: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-template-rows: auto;
	gap: 1rem;
	margin: 2rem 0;
}

.grid-fashion {
	background: #ececec;
	padding: 1rem;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.grid-moves {
	grid-template-areas: "grid1 grid2 grid3";
}

.grid-stats {
	grid-template-areas:
		"grid1 grid2 grid2 grid2"
		"grid6 grid3 grid4 grid5";
}

.grid-stats.no-name {
	grid-template-areas:
		"grid3 grid4";
}

.grid1 {
	grid-area: grid1;
}

.grid2 {
	grid-area: grid2;
}

.grid3 {
	grid-area: grid3;
}

.grid4 {
	grid-area: grid4;
}

.grid5 {
	grid-area: grid5;
}

.grid6 {
	grid-area: grid6;
}

.pointer {
	cursor: pointer;
}

.small-upper {
	text-transform: uppercase;
	font-size: 1rem;
	color: #868686;
}

#switch-team {
	display: none;
	width: 100%;
}

.teams-wrapper p {
	margin-bottom: 0;
}

.teams-wrapper-inner {
	margin-top: 1rem;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	margin: 1rem;
}

.pokemon-sprite {
	object-fit: contain;
	height: 100%;
	width: 100%;
	margin: auto;
	display: block;
}

.cup-team-mon .pokemon-sprite {
	max-height: 4rem;
}

.pokemon-type-box .pokemon-sprite {
	max-height: 10rem;
}

@media screen and (max-width: 900px) {
	#cup-wrapper {
		flex-direction: column;
	}

	#cup-select {
		gap: 2rem;
	}

	#cup-data {
		flex-grow: 1;
	}

	#switch-team {
		display: block;
	}

	.on-narrow-hide {
		display: none;
	}

	.on-narrow-flex-col {
		flex-direction: column;
	}

	.on-narrow-flex-row {
		flex-direction: row;
	}

	.teams-wrapper-inner {
		flex-direction: row;
		flex-wrap: wrap;
		gap: .6rem;
	}

	.teams-wrapper-inner.isClosed {
		display: none;
	}

	.cup-team-box {
		width: 30%;
	}

	.pokemon-sprite {
		margin-top: 1rem;
		margin-bottom: 1rem;
		max-height: 12rem;
	}

	.team-grid {
		grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	}

}

.current-season-cup {
	font-weight: 600;
}

.option-cup-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 23rem;
}

.team-group {
	border: 0.1rem solid #7dd5aa;
	border-radius: .5rem;
	margin-bottom: 1rem;
}

.team-group:last-child {
	margin-bottom: 0;
}

.team-group.isClosed {
	padding: 0;
}

.team-group.isClosed .teams-wrapper-inner {
	display: none;
}

.team-group-season {
	background: #7dd5aa;
	padding: .5rem 1rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	border-radius: .3rem .3rem 0 0;
	cursor: pointer;
}

.team-group.current-season {
	border-color: #104c55;
}

.team-group.current-season .team-group-season {
	background: #104c55;
}